[Desktop Entry]
Type=Application
Name=Oracle of Dædalus
Comment=Offline Retrieval-Augmented Command-Line Environment
Icon=oracle-of-daedalus
Exec=oracle
Terminal=true
Categories=Education;
Keywords=RAG;PDF;knowledge;terminal;offline;
